.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    height: 64px;
    background: #faf9f6;
    border-bottom: 1px solid #ddd9ce;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 700;
    color: #2c2c2a;
}

.navbar-menu {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

.navbar-menu a {
    color: #6b6a65;
    text-decoration: none;
    font-size: 0.95rem;
    font-weight: 500;
    padding: 4px 0;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}

.navbar-menu a:hover,
.navbar-menu a.active {
    color: #8c7863;
    border-bottom-color: #8c7863;
}

/*Css của nút đổi Theme sáng tối*/
.theme-toggle {
    background: transparent;
    border: 1.5px solid #8c7863;
    border-radius: 20px;
    padding: 4px 12px;
    font-size: 0.85rem;
    ;
    color: #8c7863;
    cursor: pointer;
    transition: all 0.2s;
    font-family: 'Be Vietnam Pro', sans-serif;
}

.theme-toggle:hover {
    background: #8c7863;
}

@media (max-width: 600px) {
    .navbar {
        padding: 0 1rem;
    }

    .navbar-menu {
        gap: 1rem;
    }
}